
.frame{  
  border: 1px solid black;
  width: 800px; 
  height: 500px;
  display: flex;
  position: absolute;
  top:0;
  left:0;
  transform: translate(50%,30%);
}

.first{
  width: 200px;     
  background-color: rgb(0, 0, 0);
  transition: width 1.5s ease-in-out; 
}
.second{
  width: 200px;
  background-color: brown;
  transition: width 1.5s ease-in-out; 
}
.third{
  width: 200px;
  background-color:  rgb(0, 0, 0);
  transition: width 1.5s ease-in-out; 
}
.forth{
  width: 200px;
  background-color: brown;
  transition: width 1.5s ease-in-out; 
}
p{
  position: relative;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
     /* display: none;   */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.first:hover {
  width:500px;
} 
  /* transition: all 1.5s ease-in-out; */
   @keyframes mymove {
    from {left: 0px;}
    to {right: 200px;}
    
}   

.first:hover p{
  /* display:block; */
  opacity: 1;
  
}


.second:hover{
  width: 500px;
}
  /* transition: all 1.5s ease-in-out; */
  @keyframes mymove1{ 
    from {left: 200px;}
    to {right: 200px;}
}
  

.second:hover p{
  /* display: block; */
  opacity: 1;
}
.third:hover{
  width: 500px;
}
  /* transition: all 1.5s ease-in-out; */
   @keyframes mymove3 {
    from {left: 200px;}
    to {right: 200px;}
   
  } 

.third:hover p{
  /* display: block; */
  opacity: 1;
}
.forth:hover{
  width: 500px;
  
}
  /* transition: all 1.5s ease-in-out; */
   @keyframes mymove4 {
    from {left: 200px;}
    to {right: 0px;}
    
  } 

.forth:hover p{
  /* display: block; */
  opacity: 1;
 }
